@page "/"

<PageTitle>Index</PageTitle>
<h1>BlazorDemo</h1>
<div class="jumbotron jumbotron-fluid" style="padding-top: 4px">
    <p class="lead px-4">Blazor UI project.</p>
    <hr>
    <p class="px-4">
        C# .Net Core - UI Blazor application with Bootstrap css and crud interface.<br />
        Designed as a seperate stand alone entity calling the backend Web Api application.<br />
        You can access the web Api through the pages found through the settings dropdown meny.
        Read more about bootstrap styles <a href="https://getbootstrap.com/">Here</a>.
    </p><br/>
    <p class="lead px-4">C# .Net Core web Api project.</p>
    <hr>
    <p class="px-4">
        C# .Net Core - Web Api application secured with JWT Authentication and documented with Swagger.<br />
        Implements coding database migration, repository pattern architecture, database CRUD functionality.<br />
        Test by using the Swagger page or run the Api calls in external software like Postman.
    </p>
</div>
<br />
The Web API access is protected with JWT authentication.<br />
Login using the accounts mentioned in the ReadMe file or the Swagger _Auth api description.
<br />
Then you can access those accounts by using the pages under the Settings menu option.
<br />
<br />
<b>Prerequisits:</b>
<br />
You eighter need a MSSQl server for the database or modify the code to suit your own database.


